h1 {
    padding: 30px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #575757;
    margin: 30px;
}

canvas {
    border: black inset 5px;
    background-color: green;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 55px;
}